* {
  font-family: 'Montserrat', sans-serif;
  padding: 2px;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
  background: linear-gradient(
    to right,
   pink 0%,
   pink 50%,
   paleturquoise 50%,
   paleturquoise 100%,
  
  );
  
}

footer{
  background-color: whitesmoke;
}