* {
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
    box-sizing: border-box;
    background-color: #B2BEB5;
    color: black;
    
  }

.loginf {
    width: 450px;
    height: auto;
    border-radius: 10px;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 0000;
    
}  